# Copia este archivo a .env y rellena con tus claves

# TheMovieDB - Obtén en https://www.themoviedb.org/settings/api
TMDB_API_KEY=your_tmdb_api_key_here

# Spotify - Obtén en https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=tu_id_aqui
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

# IGDB - Obtén en https://api-docs.igdb.com/#getting-started
IGDB_CLIENT_ID=tu_id_aqui
IGDB_CLIENT_SECRET=your_igdb_client_secret_here